@font-face{
    font-family: play;
    src: url(/fonts/Play-Regular.ttf)
}
body{
    margin: 0px;
    background: darkslategray;
    color: rgb(30, 50, 50);
    font-family: play;
    padding-bottom: 95px;
}
header ul li{
    list-style: none;
    background-color: palegoldenrod;
    padding-top: 15px;
}
header h1{
    padding: 5px 10px;
    margin: 0px;
    display: flex;
    justify-content: start;
    height: 35px;
    background: palegoldenrod;
}
nav{
    display: flex;
    justify-content: end;
    background: palegoldenrod;
    height: 50px;
}
nav ul{
    display: flex;
    margin: 0px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(22, 37, 37);
    padding: 25px 5px;
}
nav li:hover{
    margin: 0px 0px -15px;
    border: 1px solid darkslategray
}